<div class="container">
    <div class="row">
        <div ng-repeat-start="job in vm.jobs" class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="caption">
                    <h4><a href="/jobs/{{job.id}}">{{job.name}}</a></h4>
                    <h5>{{job.company.name}}</h5>
                    <h6><span ng-repeat="location in job.locations"><span ng-if="!$first">; </span>{{location.name}}</span></h6>
                </div>
            </div>
        </div>
        <div class="clearfix visible-lg-block" ng-if="$index % 4 === 3"></div>
        <div class="clearfix visible-md-block" ng-if="$index % 3 === 2"></div>
        <div ng-repeat-end class="clearfix visible-sm-block" ng-if="$index % 2 === 1"></div>
    </div>
</div>